/* style.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url(../images/bg.jpg) no-repeat center top;
}

/* Text */
h1, h2, h3, p {
    text-align: center;
    color: white;
}

h3 {
    text-decoration: underline;
    margin-top: 30px;
}

/* Containers */

div.main-container {
    width: 1006px;
    height: 700px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: 3px solid rebeccapurple;
    background-color: rgba(0, 0,0, 0.4);
}

    /* Player Fields */

div.char-container {
    width: 250px;
    height: 600px;
    float: left;
}

div.players {
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 600px;
    border: 1px solid rebeccapurple;
}

    /* Battleground */

div.battleground {
    width: 500px;
    height: 700px;
    float: left;
}

div.arena {
    width: 450px;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    margin: 0 auto;
    position: relative;
}

div.actions {
    width: 450px;
    height: 50px;
    margin: 25px auto;
    border: 1px solid rebeccapurple;
}

div.action-text {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid rebeccapurple;
}

/* Character Tiles */

div.char-card {
    /* The Player and Enemy main container. Hidden until jQuery exposes it */
    width: 198px;
    height: 150px;
    display: none;
}

div.char-img {
    /* The middle of the char container; holds the image */
    width: inherit;
    height: 100px;
    display: inherit;
}

div.char-text {
    width: inherit;
    height: 25px;
    display: inherit;
}

/* The Arena */
/* div.arena {
    width: 450px;
    height: 300px;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
    position: relative;
} */

div.arena-char {
    width: 200px;
    height: 300px;
    float: left;
}

div.arena-vs {
    width: 50px;
    height: 300px;
    float: left;
    padding-top: 125px;
}

div.arena-char-third {
    width: 200px;
    height: 100px;
    bottom: 0;
}